<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper">
        <div class="header_wrapper">
            <div class="header">
                <h1><a href="/">My site.com</a></h1>
                <div class="user_info">
                    <div class="photo">
                        <img src="/images/photo.jpg" alt="avatar" />
                    </div>
                </div>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="nav_wrapper" id="left_menu">
                <h3>Main</h3>
                <ul class="nav">
                    <li><a href="/news">Grid here</a></li>
                    <li><a href="#1">Link 2</a></li>
                    <li><a href="#1">Link 3</a></li>
                    <li><a href="#1">Link 4</a></li>
                    <li><a href="#1">Link 5</a></li>
                </ul>
                
                <h3>Subscriptions</h3>
                <ul class="nav">
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#1">Link 2</a></li>
                    <li><a href="#1">Link 3</a></li>
                    <li><a href="#1">Link 4</a></li>
                    <li><a href="#1">Link 5</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="content_nav_wrapper">
                    <div id="content_menu">
                        <div class="title">Menu</div>
                        <ul class="content_nav">
                            <li><a href="#1">Gaining popularity</a></li>
                            <li><a href="#1">Recent</a></li>
                            <li><a href="#1">Subscriptions</a></li>
                            <li><a href="#1">Best by categories</a></li>
                        </ul>
                    </div>
                </div>
                <h2>Add a video</h2>
                <div class="content_text">
                    <table id="add_form">
                       <tr>
                            <td>
                                Video name
                            </td>
                            <td>
                                <label><input id="video_name" name="video_name" /></label>
                            </td>
                       </tr>
                       <tr>
                            <td>
                                Video link
                            </td>
                            <td>
                                <label><input id="video_link" name="video_link" /></label>
                            </td>
                        </tr>
                       <tr>
                            <td>
                                Video pic link
                            </td>
                            <td>
                                <label><input id="video_pic" name="video_pic" /></label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" name="button" value="Add" id="add_button" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="clear"></div>       
        </div>
            
        <div class="footer_wrapper"></div>
    </div>        
    <div id="to_top">up</div>
    
    <script src="/js/scripts.js"></script>
    <script>
        var the_form = document.querySelector("#add_form");
        var video_name = the_form.querySelector("#video_name");
        var video_link = the_form.querySelector("#video_link");
        var video_pic = the_form.querySelector("#video_pic");

        the_form.querySelector("#add_button").addEventListener('click', function(){
            var request = new XMLHttpRequest();
            var request_text = 'add?video_name=' + encodeURIComponent(video_name.value) +
                                '&video_link=' + encodeURIComponent(video_link.value) +
                                '&video_pic=' + encodeURIComponent(video_pic.value);
            request.open('post', request_text);
            request.send();
            request.addEventListener('load', function () {
                location.replace('/');
            });
        });
    </script>
</body>
</html>