<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper">
        <div class="header_wrapper">
            <div class="header">
                <h1><a href="/">My site.com</a></h1>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="content" style="padding-top: 30px;">
                <h2>Login</h2>
                <div class="content_text">
                    <form method="POST" action="/login">
                        <table id="login_form">
                            <tr>
                                <td>
                                    Login
                                </td>
                                <td>
                                    <label><input id="login" name="login" /></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password
                                </td>
                                <td>
                                    <label><input id="password" name="password" type="password" /></label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" name="button" value="Log In" id="login_button" /></td>
                            </tr>
                        </table>
                    </form>
                </div>

                <h2 style="padding-top: 30px;">Or Sing Up</h2>
                <div class="content_text">
                    <form method="POST" action="/signup">
                        <table id="singup_form">
                            <tr>
                                <td>
                                    Login
                                </td>
                                <td>
                                    <label><input id="s_login" name="login" /></label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Password
                                </td>
                                <td>
                                    <label><input id="s_password" name="password" type="password" /></label>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" name="button" value="Sing Up" id="singup_button" /></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="clear"></div>       
        </div>
            
        <div class="footer_wrapper"></div>
    </div>        
    <div id="to_top">up</div>
    
    <script src="/js/scripts.js"></script>
</body>
</html>