<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="wrapper">
        <div class="header_wrapper">
            <div class="header">
                <h1><a href="/">My site.com</a></h1>
                <div class="user_info">
                    <div class="photo">
                        <img src="/images/photo.jpg" alt="avatar" />
                    </div>
                </div>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="nav_wrapper" id="left_menu">
                <h3>Main</h3>
                <ul class="nav">
                    <li><a href="/news">Grid here</a></li>
                    <li><a href="#1">Link 2</a></li>
                    <li><a href="#1">Link 3</a></li>
                    <li><a href="#1">Link 4</a></li>
                    <li><a href="#1">Link 5</a></li>
                </ul>
                
                <h3>Subscriptions</h3>
                <ul class="nav">
                    <li><a href="#1">Link 1</a></li>
                    <li><a href="#1">Link 2</a></li>
                    <li><a href="#1">Link 3</a></li>
                    <li><a href="#1">Link 4</a></li>
                    <li><a href="#1">Link 5</a></li>
                </ul>
            </div>
            <div class="content">
                <div class="content_nav_wrapper">
                    <div id="content_menu">
                        <div class="title">Menu</div>
                        <ul class="content_nav">
                            <li><a href="#1">Gaining popularity</a></li>
                            <li><a href="#1">Recent</a></li>
                            <li><a href="#1">Subscriptions</a></li>
                            <li><a href="#1">Best by categories</a></li>
                        </ul>
                    </div>
                </div>
                <h2>News</h2>
                <div class="news">
                    <div class="col-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat imperdiet lacus lobortis fringilla. Nulla eu sem justo. Praesent sit amet erat iaculis, imperdiet arcu vitae, tempus nisl. Quisque quis cursus libero. Proin a pellentesque mi, ac dictum nibh. Curabitur hendrerit vel arcu sed molestie. Sed eu arcu molestie mauris fringilla mollis. Phasellus enim lacus, dignissim at mattis sit amet, pellentesque a metus. Etiam pretium aliquet neque, in mattis massa feugiat in.
                        </p></div>
                    <div class="col-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat imperdiet lacus lobortis fringilla. Nulla eu sem justo. Praesent sit amet erat iaculis, imperdiet arcu vitae, tempus nisl. Quisque quis cursus libero. Proin a pellentesque mi, ac dictum nibh. Curabitur hendrerit vel arcu sed molestie. Sed eu arcu molestie mauris fringilla mollis. Phasellus enim lacus, dignissim at mattis sit amet, pellentesque a metus. Etiam pretium aliquet neque, in mattis massa feugiat in.
                        </p></div>
                    <div class="col-4">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat imperdiet lacus lobortis fringilla. Nulla eu sem justo. Praesent sit amet erat iaculis, imperdiet arcu vitae, tempus nisl. Quisque quis cursus libero. Proin a pellentesque mi, ac dictum nibh. Curabitur hendrerit vel arcu sed molestie. Sed eu arcu molestie mauris fringilla mollis. Phasellus enim lacus, dignissim at mattis sit amet, pellentesque a metus. Etiam pretium aliquet neque, in mattis massa feugiat in.
                        </p></div>

                    <div class="col-6">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat imperdiet lacus lobortis fringilla. Nulla eu sem justo. Praesent sit amet erat iaculis, imperdiet arcu vitae, tempus nisl. Quisque quis cursus libero. Proin a pellentesque mi, ac dictum nibh. Curabitur hendrerit vel arcu sed molestie. Sed eu arcu molestie mauris fringilla mollis. Phasellus enim lacus, dignissim at mattis sit amet, pellentesque a metus. Etiam pretium aliquet neque, in mattis massa feugiat in.
                            </p>
                        <p>
                            Aliquam tellus diam, lobortis sed porta mattis, congue a nisi. Donec pellentesque sem nunc. Nunc lorem ligula, sodales a rutrum quis, congue id mi. Sed accumsan cursus magna vitae blandit. Praesent in nunc id lorem cursus pharetra. In dictum hendrerit risus, eleifend molestie nisi tempus vel. Nullam pharetra vel nisi quis ornare. Cras vitae quam a diam tincidunt porta. Vivamus fermentum ut libero non tristique. Duis fermentum purus eget diam aliquam, in laoreet orci ornare. Praesent cursus sodales pulvinar. Quisque accumsan venenatis odio ac porta. Ut ac tincidunt lacus, id maximus tellus. Nam condimentum faucibus turpis eget dictum. Aenean consequat maximus ornare.
                        </p>
                        <p>
                            Integer risus odio, tincidunt ut elit in, maximus posuere tortor. Mauris posuere semper dolor vitae egestas. Phasellus et velit ac dolor ultrices tristique. Quisque pellentesque ornare erat. Maecenas lobortis placerat felis, vitae posuere libero accumsan et. Mauris imperdiet, erat sit amet sagittis pretium, nulla tortor ullamcorper est, sit amet venenatis mauris tellus a risus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur porttitor et nulla tincidunt faucibus. Nam id cursus tortor, eu lobortis magna. Etiam sed consectetur dolor. Morbi non ipsum leo. Duis eu turpis sed lacus accumsan suscipit. Vivamus a urna a tellus dapibus vehicula. Vestibulum at nibh a ipsum sollicitudin dignissim lobortis nec massa.
                        </p>
                    </div>
                    <div class="col-6">
                        <p>
                            Morbi lorem quam, fringilla at dignissim eget, condimentum a justo. In ut fringilla nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent viverra viverra augue, sit amet efficitur dolor pharetra sit amet. Sed metus purus, egestas eget aliquet viverra, ornare vitae leo. Donec ornare vitae ex nec dictum. Suspendisse libero massa, laoreet venenatis ultrices eu, tincidunt id ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras luctus cursus condimentum. In dignissim, ex sed iaculis faucibus, erat diam elementum felis, sit amet volutpat quam felis nec sem. Nunc quis nulla purus. Ut pharetra lacinia sem eget feugiat. Sed erat orci, maximus sed efficitur at, ultrices eget ligula. Integer vel justo eu nisi mattis bibendum. Phasellus vitae eros metus. Proin sodales varius rutrum.
                        </p>
                        <p>
                            Aliquam vel ligula sed ex interdum scelerisque. Suspendisse feugiat dui sodales scelerisque tincidunt. Aliquam eros justo, sagittis et lacus quis, molestie suscipit ex. In sagittis urna leo. Nullam nec maximus arcu. Nulla lacinia tincidunt congue. Curabitur viverra risus eget nisi consectetur lobortis. Donec sed ornare velit. Ut rutrum eleifend neque vel porttitor. Praesent lobortis, massa eu venenatis faucibus, velit nunc tincidunt turpis, at molestie leo tellus sed arcu. Nam mattis rutrum massa, vitae eleifend nisi gravida sit amet. Vivamus semper viverra posuere. Praesent lobortis eu mauris sed tempor. Cras faucibus velit lectus, eget mattis ex ullamcorper in. In euismod eget odio nec eleifend. Phasellus ultrices felis et interdum maximus. </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>       
        </div>
            
        <div class="footer_wrapper"></div>
    </div>        
    <div id="to_top">up</div>
    
    <script src="/js/scripts.js"></script>
</body>
</html>