html, body{
    height: 100%;
}
.clear{ clear: both; }

#to_top{
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .9);
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 50px;
    cursor: pointer;
}

.wrapper{
    min-height: 100%;
    height: 1px;
    /*min-width: 700px;*/
    position: relative;
    margin: auto;
    background: #70778B;
    font-family: 'Oswald', sans-serif;
    color: #1F1125;
}

.header_wrapper{
    height: 70px;
    background: #394054;
}
.header{
    padding: 10px 25px;
    height: 50px;
    max-width: 1920px;
    margin: auto;
}
.header h1{
    margin: 0;
    float: left;
}
.header h1 a{
    color: #fff;
    text-decoration: none;
}
.header .user_info{
    float: right;
    height: 50px;
    padding-top: 5px;
    cursor: pointer;
}
.header .user_info .photo{
    float: left;
    overflow: hidden;
    height: 50px;
}
.header .user_info .photo img{
    width: 40px;
    border-radius: 50%;
}
.header .user_info h6{
    float: left;
    height: 50px;
    margin-left: 10px;
    line-height: 25px;
}

.content_wrapper{
    min-height: calc(100% - 140px);
    background: #70778B;
    max-width: 1920px;
    margin: auto;
}

/*Navigation*/
.nav_wrapper{
    width: 200px;
    float: left;
    padding: 0 10px 20px;
    background: #C0AB3E;
}
.nav_wrapper.fixed{
    position: fixed;
    top: 0;
}
.nav_wrapper h3{
    margin-bottom: 5px;
}
.nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.nav li{
    transition: background .4s;
    cursor: pointer;
}
.nav li:hover{
    background: #A18C21;    
}
.nav li a{    
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0;
}
/*Navigation*/

.content .content_nav_wrapper{       
    margin: 15px 0;
    height: 50px;
}
.content #content_menu{
    height: 35px;
    background: #394054;
    position: relative;
}
.content #content_menu.fixed{
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
    width: calc(100% - 20px);
}
.content #content_menu.fixed .content_nav{
    margin: 0;
}
.content .content_nav_wrapper .content_nav{
}
.content .content_nav_wrapper .title{
    display: none;
}
.content .content_nav_wrapper li{
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}
.content .content_nav_wrapper li a{
    display: block;
    height: 100%;
    padding: 0 20px;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    transition: background .4s;
}
.content .content_nav_wrapper li a:hover{
    background: #1F1125;
}
.content .content_nav_wrapper .title{
    display: none;
    height: 35px;
    width: 100%;
    line-height: 35px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    display: none;
}

.content{
    float: right;
    width: calc(100% - 250px);
    padding: 0px 15px 15px 15px;
}
.content h2{
    margin-top: 10px;
}

/*Video*/
.videos{}
.videos .item{
    float: left;
    width: 230px;
    height: 175px;
    margin: 0 15px 15px 0;
    position: relative;
}
.videos .item .preview_wrapper{
    height: 130px;
    background: rgba(31, 17, 37, .5);
    position: relative;
    text-align: center;
}
.videos .item .preview_wrapper .preview{
    width: 210px;
    height: 130px;
    overflow: hidden;
    cursor: pointer;
    margin: auto;
}
/*Temp*/
.videos .item .preview_wrapper .preview img{
    max-height: 130px;
}
/*/Temp*/
.videos .item .preview_wrapper .duration{
    display: block;
    padding: 1px 7px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgba(31, 17, 37, .7);
    font-size: 14px;
    color: #fff;
}
.videos .item h5{
    margin: 0;
    padding: 3px 2px;
}
.videos .item h5 a{
    text-decoration: none;
    color: #000;
}
.videos .item .preview_wrapper.add{
    text-align: center;
    line-height: 90px;
    cursor: pointer;
}
.videos .item .preview_wrapper.add a{
    display: block;
    color: rgba(255, 255, 255, .8);
    font-size: 200px;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.videos .item .delete{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 10;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}
/*/Video*/

.footer_wrapper{    
    width: 100%;
    height: 70px;
    background: #151E35;
}

/*Responsivity*/
@media (max-width: 1000px){
    .content .content_nav_wrapper .content_nav{
        display: none;
        margin: 0;
        padding: 0;
        background: #394054;
        position: absolute;
        width: 100%;
        z-index: 10;
    }
    .content .content_nav_wrapper:hover .content_nav{
        display: block;
    }
    .content .content_nav_wrapper .title{
        display: block;
    }
    .content .content_nav_wrapper .title:hover{
        background: #1F1125;
        transition: all .4s;
    }
    .content .content_nav_wrapper .content_nav li{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .content .content_nav_wrapper .content_nav li a{
        text-align: center;
    }
}
@media (max-width: 800px){
    .content{
        width: calc(100% - 30px);
    }
    .nav_wrapper{
        display: none;
    }    
    .videos .item{
        float: none;
        width: auto;
        height: auto;
    }
    .videos .item .preview_wrapper .duration{
        right: 50%;
        margin-right: -100px;
    }
    .videos .item h5{
        text-align: center;
        font-size: 16px;
    }
} 


/*Add page*/
.content_text{
    background: rgba(255, 255, 255, .2);
    padding: 20px;
}
.content_text table td{
    width: 250px;
}
.content_text table td:first-child{
    width: 140px;
}
.content_text table td:nth-child(2n){
    text-align: right;
}
.content_text table td input{
    width: 200px;
}
.content_text table td input[type="submit"]{
    width: 140px;
}

/*Grid*/
.col-1  {width:  8%; }
.col-2  {width:  16%;}
.col-3  {width:  24%;   }
.col-4  {width:  32%;}
.col-5  {width:  40%;}
.col-6  {width:  48%;   }
.col-7  {width:  56%;}
.col-8  {width:  64%;}
.col-9  {width:  72%;   }
.col-10 {width:  80%;}
.col-11 {width:  88%;}
.col-12 {width:  96%;  }

.news > [class^="col-"] {
    float: left;
    padding: 0.5%;
}
.news > [class^="col-"]:last-child {
    float: right;
}

.logout{
    display: block;
    float: left;
    margin-left: 10px;
    line-height: 36px;
}
.logout a{
    color: #fff;
    text-decoration: none;
}